$shocklogic-font: 'Montserrat', sans-serif;
$shocklogic-orange: #FD814C;
$shocklogic-light: whitesmoke;

.title {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.subtitle {
    text-align: center;
    color: $shocklogic-light;
}

mat-form-field.mat-form-field, .login-btn {
    max-width: 540px;
    width: 90%;
    color: $shocklogic-light;
}

.input-uppercase {
    text-transform: uppercase;
}

//:host ::ng-deep .mat-form-field-wrapper{ padding-bottom: 0; }

.login-btn { text-align: -webkit-center; min-height: 36.313px; }

.second-btn { margin-top: 20px; color: $shocklogic-orange }