$shocklogic-orange: #FD814C;
$shocklogic-black: #212121;
$shocklogic-light: whitesmoke;
$shocklogic-font: 'Montserrat', sans-serif;
.width-80{ width: 80%; }
table { border-collapse: collapse; width: 100%; font-family: $shocklogic-font; font-size: 16px; border: 1px solid $shocklogic-black; }
th, td { padding: 8px; font-weight: 500; border-bottom: 1px solid $shocklogic-black; }
tr:nth-child(even){background-color: #313131 }
th { border: 1px solid $shocklogic-black; background-color: $shocklogic-black; }
.try-again-btn{ background-color: $shocklogic-orange; color: $shocklogic-light; }