<div fxFill fxLayout="column" fxLayoutAlign="none center">
    <div class="width-100 header">
        <mat-toolbar>
            <button (click)="goToHome()" mat-icon-button><mat-icon>navigate_before</mat-icon></button>
            <span class="spacer"></span>
            <span class="title text-center"><strong>Lead</strong>logic</span>
            <span class="spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button class="signout-btn" mat-menu-item>
                  <mat-icon class="rotate-180">exit_to_app</mat-icon>
                  <span>Sign Out</span>
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>
    <div class="content width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center">
        <div class="width-100" fxLayout="column" fxLayoutAlign="center center" style="overflow-x:auto;">
            <table>
                <tr><th>Client ID</th><td>{{userLogged.client_id}}</td></tr>
                <tr><th>Project ID</th><td>{{userLogged.project_id}}</td></tr>
                <tr><th>Person ID</th><td>{{userLogged.person_id}}</td></tr>
                <tr><th>ID</th><td>{{userLogged.id}}</td></tr>
                <tr><th>User Name</th><td>{{userLogged.user_name}}</td></tr>
            </table>
        </div>
    </div>
</div>