$shocklogic-font: 'Montserrat', sans-serif;
$shocklogic-orange: #FD814C;
$shocklogic-light: whitesmoke;

.title {
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
}

mat-form-field.mat-form-field, .login-btn {
    max-width: 540px;
    width: 90%;
    color: $shocklogic-light;
}

//:host ::ng-deep .mat-form-field-wrapper{ padding-bottom: 0; }

.login-btn { 
    text-align: -ms-center;
    text-align: -moz-center; 
    text-align: -webkit-center;  
    min-height: 36.313px; 
}

.second-btn { margin-top: 20px; color: $shocklogic-orange }