<div fxFill class="padding-login slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center" >
  <span class="orange-color text-center"><strong class="bold">Lead</strong><br>logic</span>
  <mat-form-field appearance="outline">
    <mat-label>User ID</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput>
  </mat-form-field>
  <button class="width-login" mat-raised-button routerLink="/dashboard">SIGN IN</button>
</div>
