<div class="width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="none center">
    <button (click)="goToAbout()" class="list-btn" mat-button>About Shocklogic</button>
    <button (click)="goToAccount()" class="list-btn" mat-button>Account Info</button>
    <button (click)="emailLeads()" class="list-btn" mat-button [disabled]="bEmail || bDownload">
        <span *ngIf="!bEmail">Email Leads</span>
        <mat-spinner *ngIf="bEmail" mode="indeterminate" [diameter]="30"></mat-spinner>
    </button>
    <button (click)="downloadLeads()" class="list-btn" mat-button [disabled]="bEmail || bDownload">
        <span *ngIf="!bDownload">Download Leads</span>
        <mat-spinner *ngIf="bDownload" mode="indeterminate" [diameter]="30"></mat-spinner>
    </button>
    <hr>
    <button (click)="signOut()" class="list-btn" mat-button>Sign Out</button>
</div>