<mat-list class="width-100 slide-in-fwd-center">
    <mat-list-item>
        <button class="width-100 bg-dark font-larger" mat-button>About Shocklogic</button>
    </mat-list-item>
    <mat-list-item>
        <button class="width-100 bg-dark font-larger" mat-button>Account Info</button>
    </mat-list-item>
    <mat-list-item>
        <button (click)="getLeads()" class="width-100 bg-dark font-larger center-spinner-btn" mat-button>
            <span *ngIf="!bLeads">Download Leads</span>
            <mat-spinner *ngIf="bLeads" mode="indeterminate" [diameter]="30"></mat-spinner>
        </button>
    </mat-list-item>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-list-item>
        <button (click)="signOut()" class="width-100 bg-dark font-larger" mat-button>Sign Out</button>
    </mat-list-item>
</mat-list>