<div fxFill fxLayout="column" fxLayoutAlign="none center">
    <div class="width-100 header">
        <mat-toolbar>
            <button (click)="goToHome()" mat-icon-button><mat-icon>navigate_before</mat-icon></button>
            <span class="spacer"></span>
            <span class="title text-center"><strong>lead</strong>logic</span>
            <span class="spacer"></span>
            <span class="btn-none"></span>
        </mat-toolbar>
    </div>
    <div class="content width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center">
        <img width="125" src="https://trello-attachments.s3.amazonaws.com/5a1eeb21fa6553a13d6edbbb/5a1eeb547659b28037047582/7d347c0e8d1001377956bd1a49567b36/sl_logo.png" alt="">
        <br>
        <p class="about-text">Shocklogic with over 20 years' experience supporting the meetings industry, leads the way in providing event organisers, associations and societies with online event management software , technology and hands-on solutions for organising and managing conferences, events, members and contacts.</p>
        <br>
        <p>For more information</p>
        <a class="sl-link" href="http://shocklogic.com/" target="_blank">www.shocklogic.com</a>
        <br>
        <p>You can contact us by</p>
        <a class="sl-link" href="mailto:info@shocklogic.com">info@shocklogic.com</a>
        <a class="sl-link mt-10" href="tel:+447771614759">+44 777 1614759</a>
    </div>
</div>