<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
    <div class="width-100 header">
        <mat-toolbar>
            <button (click)="goToDashboard()" class="ml--15" mat-icon-button>
                <mat-icon>navigate_before</mat-icon>
            </button>
            <span class="spacer"></span>
            <span class="sign-in-title text-center"><strong class="bold">Lead</strong>logic</span>
            <span class="spacer"></span>
            <button *ngIf="!bNotes" (click)="isDisabled()" class="mr--15" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="bNotes" (click)="saveNotes()" class="mr--15" mat-icon-button>
                <mat-icon>done</mat-icon>
            </button>
        </mat-toolbar>
        <mat-progress-bar *ngIf="false" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="content width-100 text-center slide-in-fwd-center">
        <mat-list class="bg-dark" role="list">
            <mat-list-item class="shocklogic-font" role="listitem">Name: {{lead.First_Name}} {{lead.Family_Name}}</mat-list-item>
            <mat-list-item class="shocklogic-font" role="listitem">Company: {{lead.Company}}</mat-list-item>
            <mat-list-item class="shocklogic-font" role="listitem">Job Title: {{lead.Job_Title}}</mat-list-item>
            <mat-list-item class="shocklogic-font" role="listitem">Email: {{lead.EMail}}</mat-list-item>
            <mat-list-item class="shocklogic-font" role="listitem">Mobile: {{lead.Mobile}}</mat-list-item>
        </mat-list>
        <form class="bg-dark" [formGroup]="notesForm" (ngSubmit)="saveNotes()">
            <mat-form-field class="lead-font text-orange" appearance="outline">
                <textarea formControlName="Notes" class="form-control" matInput placeholder="Text notes here..."></textarea>
            </mat-form-field>
        </form>
    </div>
<div>