$leadlogic-font: 'Montserrat', sans-serif;
$leadlogic-orange: #FD814C;

mat-form-field.mat-form-field {
    font-size: 12px;
    font-family: $leadlogic-font;
    width: 100%;
}

table {
    width: 100%;
}

th.mat-header-cell {
    text-align: center;
}

:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 10px;
}

.myscans-title{
    color: $leadlogic-orange;
    font-family: $leadlogic-font;
    font-size: 14px;
}

.table-bg{
    background-color: #424242;
}

.toolbar-table-h{
    height: 20px;
}