/* You can add global styles to this file, and also import other style files */

$leadlogic-font: 'Montserrat', sans-serif;
$leadlogic-orange: #FD814C;
$leadlogic-dark: #222327;

body {
    background-color: #222327;
    color: #fff;
}

app-navbar{
  width: 100%;
}

.text-center{
  text-align: center;
}

.bold{
  font-weight: 900;
}

.lead-font{
  font-family: $leadlogic-font;
}

.leadlogic-title{
  color: $leadlogic-orange;
  font-family: $leadlogic-font;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.mat-snack-bar-container{
  background-color: $leadlogic-dark;
  color: $leadlogic-orange;
  
}

.mat-simple-snackbar, .mat-button-wrapper{
  font-family: $leadlogic-font;
  font-size: smaller;
}

.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }