<div fxFill fxLayout="column" fxLayoutAlign="none center">
    <div class="header width-100" fxLayout="column" fxLayoutAlign="none center" *ngIf="this.myScansData?.length > 0">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input [(ngModel)]="listFilter" matInput>
        </mat-form-field>
        <mat-toolbar class="second-toolbar">
            <span class="spacer"></span>
            <span class="title"><strong>My</strong> Scans</span>
            <span class="spacer"></span>
        </mat-toolbar>
    </div>
    <div class="content width-100" fxLayout="column" fxLayoutAlign="center center" *ngIf="!this.myScansData">
        <span class="title heartbeat"><strong>Loading</strong> Leads</span>
    </div> 
    <div class="content width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center" *ngIf="this.myScansData?.length == 0">
        <span >You don't have leads scanned yet</span>
    </div>  
    <div *ngIf="bError" class="content width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="center center">
        <h3 class="error-msg">Something went wrong</h3>
        <h4 class="error-msg">There was a problem loading the leads...</h4>
        <h4 class="error-msg" *ngIf="customError">{{customError}}</h4>
        <button (click)="loadLeads()" class="try-again-btn" mat-raised-button>
            <span>TRY AGAIN</span>
        </button>
    </div>
    <div class="content width-100 slide-in-fwd-center" fxLayout="column" fxLayoutAlign="none center" *ngIf="this.myScansData?.length > 0">
        <div class="width-100 scrollable-element" fxLayout="column" fxLayoutAlign="none center" style="overflow-x:auto;">
            <span *ngIf="!(this.filteredScansData?.length > 0)" class="title mt-20"><strong>No</strong> matches</span>
            <table>
                <!--<tr><th>Name</th><th>Company</th></tr>-->
                <ng-container *ngFor="let lead of filteredScansData">
                    <tr 
                        (click)="selectLead(lead.Person_Id)" 
                        *ngIf="lead.Family_Name || lead.First_Name || lead.Company"
                    >
                        <td><strong>{{lead.Family_Name}}</strong> {{lead.First_Name}}</td>
                        <td>{{lead.Company}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>
