$leadlogic-orange: #FD814C;

.m-v-45{
    margin-bottom: 45px;
    margin-top: 45px;
}

.size-75{
    width: 75px;
    height: 75px;
}

.f-size-18{
    font-size: 18px;
    background-color: $leadlogic-orange;
}

#mat-badge-content-0{
    background-color: black;
}

#mat-badge-content-1{
    background-color: red;
}

#mat-badge-content-2{
    background-color: rgb(221, 144, 0);
}

#mat-badge-content-3{
    background-color: green;
}