$leadlogic-dark: #222327;
$leadlogic-font: 'Montserrat', sans-serif;
$leadlogic-orange: #FD814C;

.dark-bg{
    background-color: $leadlogic-dark;
}

.lead-font{
    font-family: $leadlogic-font;
}

.orange-color{
    color: $leadlogic-orange;
    font-family: $leadlogic-font;
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.spacer {
    flex: 1 1 auto;
}

mat-form-field.mat-form-field {
    font-size: 12px;
    font-family: $leadlogic-font;
    width: 100%;
}

table {
    width: 100%;
}

.m-v-75{
    margin-bottom: 75px;
    margin-top: 75px;
}

.size-75{
    width: 75px;
    height: 75px;
}

.f-size-18{
    font-size: 18px;
    background-color: $leadlogic-orange;
}

#mat-badge-content-0{
    background-color: black;
}

#mat-badge-content-1{
    background-color: red;
}

#mat-badge-content-2{
    background-color: rgb(221, 144, 0);
}

#mat-badge-content-3{
    background-color: green;
}